.drawer {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: bottom 0.5s ease;
    background-color: transparent;
}

.drawer-content {
    height: 75%;
    padding: 20px;
    overflow: scroll;
    background-color: white;
}

.close-container {
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.close-container button {
    margin: 10px;
    height: 40px;
    width: 40px;
}